/* Global styles
--------------------------- */
body {
    background: rgb(242, 215, 238);
    color: rgb(165, 102, 139);
}

/* Header and Footer
--------------------------- */
header, footer {
    background: rgb(211, 188, 192);
    color: rgb(105, 48, 109);
}
footer {
     color: rgb(105, 48, 109);
}
header h1, header h2 {
    color: rgb(14, 16, 61);
}

/* Headers and link
--------------------------- */
h2, a {
    color: rgb(105, 48, 109);
    }
a:hover {
    text-decoration: none;
    }